<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.UsersManager.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.Login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.Login.LogutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUsersServlet</servlet-name>
        <servlet-class>Controller.UsersManager.ListUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>Controller.UsersManager.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>Controller.UsersManager.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCustomersServlet</servlet-name>
        <servlet-class>Controller.CustomersManager.ListCustomersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <servlet-class>Controller.CustomersManager.DeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <servlet-class>Controller.CustomersManager.UpdateCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUsersServlet</servlet-name>
        <url-pattern>/listusers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/updateuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/deleteuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCustomersServlet</servlet-name>
        <url-pattern>/listcustomers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <url-pattern>/deletecustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <url-pattern>/updatecustomer</url-pattern>
    </servlet-mapping>
</web-app>
