<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/register</url-pattern>
        <url-pattern>/listusers</url-pattern>
        <url-pattern>/updateuser</url-pattern>
        <url-pattern>/listusers</url-pattern>
        <url-pattern>/deleteuser</url-pattern>
        <url-pattern>/listcustomers</url-pattern>
        <url-pattern>/deletecustomer</url-pattern>
        <url-pattern>/updatecustomer</url-pattern>
        <url-pattern>/addcustomer</url-pattern>
        <url-pattern>/adddebtrecords</url-pattern>
        <url-pattern>/listdebtrecords</url-pattern>
        <url-pattern>/ListDebtCustomer</url-pattern>
        <url-pattern>/listcustomerdebtrecords</url-pattern>
        <url-pattern>/listproducts</url-pattern>
        <url-pattern>/addproduct</url-pattern>
        <url-pattern>/updateproduct</url-pattern>
        <url-pattern>/deleteproduct</url-pattern>
        <url-pattern>/listzones</url-pattern>
        <url-pattern>/addzone</url-pattern>
        <url-pattern>/deletezone</url-pattern>
        <url-pattern>/updatezone</url-pattern>
        <url-pattern>/resetpassword</url-pattern>
        <url-pattern>/shopdetail</url-pattern>
        <url-pattern>/updateshop</url-pattern>
        <url-pattern>/userdetail</url-pattern>
        <url-pattern>/customerdetail</url-pattern>
        <url-pattern>/debtrecorddetail</url-pattern>
        <url-pattern>/listdebtrecorddetail</url-pattern>
        <url-pattern>/listorders</url-pattern>
        <url-pattern>/addimportorder</url-pattern>
        <url-pattern>/addexportorder</url-pattern>
        <url-pattern>/orderdetail</url-pattern>
        <url-pattern>/listorderitems</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.userservlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.loginservlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.loginservlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUsersServlet</servlet-name>
        <servlet-class>Controller.userservlet.ListUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>Controller.userservlet.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>Controller.userservlet.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCustomersServlet</servlet-name>
        <servlet-class>Controller.customerservlet.ListCustomersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <servlet-class>Controller.customerservlet.DeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <servlet-class>Controller.customerservlet.UpdateCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>Controller.customerservlet.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDebtRecordsServlet</servlet-name>
        <servlet-class>Controller.debtrecordservlet.AddDebtRecordsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDebtRecordsServlet</servlet-name>
        <servlet-class>Controller.debtrecordservlet.ListDebtRecordsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCustomerDebtRecordsServlet</servlet-name>
        <servlet-class>Controller.debtrecordservlet.ListCustomerDebtRecordsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductsServlet</servlet-name>
        <servlet-class>Controller.productsservlet.ListProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>Controller.productsservlet.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>Controller.productsservlet.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>Controller.productsservlet.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListZonesServlet</servlet-name>
        <servlet-class>Controller.zonesservlet.ListZonesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddZoneServlet</servlet-name>
        <servlet-class>Controller.zonesservlet.AddZoneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteZoneServlet</servlet-name>
        <servlet-class>Controller.zonesservlet.DeleteZoneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateZoneServlet</servlet-name>
        <servlet-class>Controller.zonesservlet.UpdateZoneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>Controller.userservlet.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopDetailServlet</servlet-name>
        <servlet-class>Controller.shopservlet.ShopDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateShopServlet</servlet-name>
        <servlet-class>Controller.shopservlet.CreateShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateShopServlet</servlet-name>
        <servlet-class>Controller.shopservlet.UpdateShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailServlet</servlet-name>
        <servlet-class>Controller.userservlet.UserDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDetailServlet</servlet-name>
        <servlet-class>Controller.customerservlet.CustomerDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DebtRecordDetailServlet</servlet-name>
        <servlet-class>Controller.debtrecordservlet.DebtRecordDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDebtRecordDetailServlet</servlet-name>
        <servlet-class>Controller.debtrecordservlet.ListDebtRecordDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrdersServlet</servlet-name>
        <servlet-class>Controller.orderservlet.ListOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddImportOrderServlet</servlet-name>
        <servlet-class>Controller.orderservlet.AddImportOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddExportOrderServlet</servlet-name>
        <servlet-class>Controller.orderservlet.AddExportOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>Controller.orderservlet.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrderItemsServlet</servlet-name>
        <servlet-class>Controller.orderitemservlet.ListOrderItemsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnalysisServlet</servlet-name>
        <servlet-class>Controller.analysis.AnalysisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrder</servlet-name>
        <servlet-class>Controller.orderservlet.SearchOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryExportServlet</servlet-name>
        <servlet-class>Controller.productsservlet.HistoryExportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryImportServlet</servlet-name>
        <servlet-class>Controller.productsservlet.HistoryImportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportExcelDataServlet</servlet-name>
        <servlet-class>Controller.productsservlet.ExportExcelDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportExcelImportServlet</servlet-name>
        <servlet-class>Controller.productsservlet.ExportExcelImportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCustomerOrders</servlet-name>
        <servlet-class>Controller.customerservlet.ListCustomerOrders</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUsersServlet</servlet-name>
        <url-pattern>/listusers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/updateuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/deleteuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCustomersServlet</servlet-name>
        <url-pattern>/listcustomers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <url-pattern>/deletecustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <url-pattern>/updatecustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/addcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDebtRecordsServlet</servlet-name>
        <url-pattern>/adddebtrecords</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDebtRecordsServlet</servlet-name>
        <url-pattern>/listdebtrecords</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCustomerDebtRecordsServlet</servlet-name>
        <url-pattern>/listcustomerdebtrecords</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductsServlet</servlet-name>
        <url-pattern>/listproducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/updateproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListZonesServlet</servlet-name>
        <url-pattern>/listzones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddZoneServlet</servlet-name>
        <url-pattern>/addzone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteZoneServlet</servlet-name>
        <url-pattern>/deletezone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateZoneServlet</servlet-name>
        <url-pattern>/updatezone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopDetailServlet</servlet-name>
        <url-pattern>/shopdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateShopServlet</servlet-name>
        <url-pattern>/createshop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateShopServlet</servlet-name>
        <url-pattern>/updateshop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailServlet</servlet-name>
        <url-pattern>/userdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDetailServlet</servlet-name>
        <url-pattern>/customerdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DebtRecordDetailServlet</servlet-name>
        <url-pattern>/debtrecorddetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDebtRecordDetailServlet</servlet-name>
        <url-pattern>/listdebtrecorddetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrdersServlet</servlet-name>
        <url-pattern>/listorders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddImportOrderServlet</servlet-name>
        <url-pattern>/addimportorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddExportOrderServlet</servlet-name>
        <url-pattern>/addexportorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/orderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrderItemsServlet</servlet-name>
        <url-pattern>/listorderitems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnalysisServlet</servlet-name>
        <url-pattern>/analysis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrder</servlet-name>
        <url-pattern>/searchorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryExportServlet</servlet-name>
        <url-pattern>/historyexport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryImportServlet</servlet-name>
        <url-pattern>/historyimport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportExcelDataServlet</servlet-name>
        <url-pattern>/exportexcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportExcelImportServlet</servlet-name>
        <url-pattern>/excelexport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryExportServlet</servlet-name>
        <url-pattern>/pricechart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCustomerOrders</servlet-name>
        <url-pattern>/listcustomerorders</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Login/login.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>Controller.Queue.WebAppListener</listener-class>
    </listener>

</web-app>
